$letra: sans-serif;
$titulo: #638dff;
$paddings: 1rem;

* {
  border: none;
  font-family: $letra;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

/* darle altura y ancho en cointainer*/
.ancho-cv {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  /*width: 80%;*/
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

h4 {
  margin-bottom: 0;
}

.col__left {
  background-color: #232526;
  color: white;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 20rem;
}

.acomodando-contactos {
  display: grid;
}

.contacts__altura {
  padding: $paddings;
}

.skills__altura {
  padding: $paddings;
}

.languages__altura {
  padding: $paddings;
}

.informacion__altura {
  padding: $paddings;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.titulo {
  color: $titulo;
}

.nombre {
  font-size: 3rem;
  margin: 0;
}

.col__right {
  background-color: #eef2f3;
  padding: 2rem;
}

.button__works {
  color: #638dff;
}
