$letra: "Roboto", sans-serif;
$titulo: #638dff;
$pd-abajo: 2rem;
$pd-left: 1.5rem;
$pd-mobile: 2px;

body,
html {
  font-family: $letra;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

i {
  font-size: 1.2rem;
}

h4 {
  margin-bottom: 0;
}

.container {
  display: inline-flex;
}

.col__left {
  background-color: #232526;
  color: white;
}

img {
  width: 20rem;
}

.letra {
  font-family: $letra;
  padding-left: 2px;
}

.contacts__altura {
  padding-bottom: $pd-abajo;
  padding-left: $pd-left;
  padding-top: 2rem;
}

.skills__altura {
  padding-bottom: $pd-abajo;
  padding-left: $pd-left;
}

.languages__altura {
  padding-bottom: 1rem;
  padding-left: $pd-left;
}

.informacion__altura {
  padding-bottom: $pd-abajo;
  padding-left: $pd-left;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.titulo {
  color: $titulo;
}

.nombre {
  font-size: 3rem;
  margin: 0;
}

.col__right {
  background-color: #eef2f3;
  padding: 2rem;
}

.button__works {
  color: #638dff;
}

@media screen and (width: 412px) {
  .contacts__altura {
    padding: $pd-mobile;
  }
  .skills__altura {
    padding: $pd-mobile;
  }
  .languages__altura {
    padding: $pd-mobile;
  }
  .informacion__altura {
    padding: $pd-mobile;
  }
  img {
    width: 18rem;
  }
  .col__right {
    padding: 1rem;
  }
}
